* {
	padding: 0;
	margin: 0;
}
body {
	background-image: url(../img/bgimg.jpg);
	background-size: cover;
	font-family: 'Pathway Gothic One', sans-serif;
}
.wrapper {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.header {
	width: 98.5%;
}
.main-menu {
	height: 240px;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}
.in-logo-smp {
	width: 92.78%;
	height: 60.32%;
	text-align: center;
	background: white;
	border-radius: 100%;
	text-transform: uppercase;
	font-family: 'Dorsa';
	color: #263555;
	font-size: 33.24px;
	line-height: 17.2vw;
	position: relative;
	padding: 0;
	margin: 22px auto;
}
.menu {
	display: flex;
	flex-wrap: wrap;
}
.menu a {
	text-decoration: none;
	color: #fff;
	font-size: .85em;	
	
}
a:hover {
	color: #263555;
}
.menu li:hover > ul {
	display: block;
}
.submenu {
	display: none;
	z-index: 100;
	background: white;
	position: absolute;
	border-radius: 3px;
	margin-top: 10px;
	top: 1%;
	padding: 0;
	border-radius: 3px;
	margin-top: 32px;
	min-width: 45px;
	padding: 5px 0;
	left: 23%;
	top: 0;
}
.submenu:before {
	position: absolute;
	width: 5px;
	height: 5px;
	background: #fff;
	content: "";
	transform: rotate(45deg);
	left: 45%;
	top: -2%;
}
.submenu a {
	color: #8990a0;
	font-size: .63em;
}
.submenu > li {
	display: block;
	text-align: center;
	height: auto;
	line-height: .85em;
}
.content-gallery {
	width: 100%;
	background: #fff;
	padding: 8%;
}
.gal {
	height: 45vw;
	margin: 5% auto;
}
.gallery-img:hover {
	filter: brightness(.5);
}
.gallery div:hover .zoom-img {
	display: block;
}
.gallery-img {
	width: 100%;
	height: 100%;
}
.zoom-img {
	display: none;
	position: absolute;
	top: 45%;
	left: 45%;
}
h2 {
	text-transform: uppercase;
	color: #263555;
	font-size: 25px;
	font-weight: 500;
	margin: 24px 0 20px;
}
footer {
	min-height: 130px;
	width: 100%;
	background: #30455b;
	font-size: 16px;
	padding: 23px 0;
}
.footer-map, .footer-cont {
	text-decoration: none;
	text-transform: uppercase;
	list-style-type: none;
	padding: 0;
	color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
	display: flex;
	flex-wrap: wrap;
}
.footer-cont {
	margin-left: 13%;
}
.footer-link, .footer-link a {
	text-decoration: none;
	padding: 0;
	font-size: 14px;
	color: #fff;
	margin-bottom: 5px;
}
.footer-connect a {
	font-size: 10px;
	font-family: 'arial', sans-serif;
	font-weight: 100;
	color: #fff;
	text-transform: none;

}
.footer-connect:last-child {
	text-align: center;
}
.footer-connect {
	padding: 0 0 0 3%;
}
/*Кнопка to top*/
figure {
	width: 1.65em;
	height: 1.65em;
	border-radius: 100%;
	background: #38afe5;
	bottom: 50vw;
	right: 2vw;
	position: fixed;
}
figure:before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: #cbc6c6;
	content: "";
	transform: rotate(45deg);
	left: 8px;
	top: 10px;
	background: inherit;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}
.social-links {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin: 30px 0 12px;
}
.social-links a:hover {
	opacity: 0.7;
}
.copyright-text {
	text-align: center;
	font-family: arial;
	font-size: 9px;
	color: #fff;
}
/*tours*/
#select-tours {
	width: 100%;
	background: #fff;
	padding: 60px 35px;
}
#select-tours h2 {
	font-size: 28px;
	margin: 0;
}
.cardcard-image {
	background-image: url(../img/card-image.jpg);
}
.cardcard-image1 {
	background-image: url(../img/card-image1.jpg);
}
.cardcard-image2 {
	background-image: url(../img/card-image2.jpg);
}
.cardcard-image3 {
	background-image: url(../img/card-image3.jpg);
}
.cardcard-image4 {
	background-image: url(../img/card-image4.jpg);
}
.cardcard-image5 {
	background-image: url(../img/card-image5.jpg);
}

.cards {
	background-size: cover;
	width: 41.67vw;
	height: 30vw;
}
#main-left {
	padding: 0;
	margin: 0;
}
#main-left .item {
	display: flex;
	justify-content: space-between;
	margin: 42px 0 0 0;
}

#main-left h3 {
	margin: 0;
	font-size: 16.85px;
	font-family: Arial, sans-serif;
	margin: 0 0 20px 0;
	line-height: 16.85px;
}
.desc-tour p {
	font-size: 14px;
	font-family: arial;
	margin: 0 0 10px 0;
	line-height: 14px;
}
.desc-tour p:nth-child(2n+1) {
	font-size: 18.25px;
	font-family: arial;
	color: #38afe5;
	line-height: 18.25px;
}
#main-left .button {
	width: 90px;
	height: 27px;
	line-height: 0;
	font-size: 16.5px;
}
#main-right label {
	font-size: 10.2px;
	padding: 0;
	margin: 5px 0;
}
#main-right h2 {
	margin: 40px 0 40px 0;
	line-height: 20px;
}
.search-btn {
	height: 20px;
	line-height: 5px;
	margin: 15px 0;
	font-size: 12px;
}
.search-first {
	padding: 0 5px 0 0;
}
.search-by-operator {
	padding: 0 10px 0 0; 
}
.search-second {
	padding: 0 0 0 5px;
}
.all-operators {
	color: #38afe5;
	padding: 0;
}
.select-placeholder {
	font-size: 10.28px;
	height: 20px;
	padding: 0 0 0 8px;
}
.choose-tour {
	margin: 0;
	padding: 0;
}
/*About page*/
#about-wrap {
	width: 100%;
	background: #fff;
	padding: 8%;
}
.img-plane {
	background-image: url(../img/plane.png);
	height: 97px;
}
.profile {
	padding: 20px 1% 0px 4.2%;

	display: inline-block;

}
.principles {
	padding: 20px 1% 0px 1%;

	display: inline-block;
}
.third-about {
	padding: 75px 1% 0px 4.2%;
	display: inline-block;
	overflow: hidden;
}
h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform: uppercase;
	color: #263555;
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 40px;
}
.third h1 {
	margin-bottom: 60px;
}
.third h3 {
	margin-bottom: 18px;
}
.third .inner_text {
	margin-bottom: 28px;
}
.plane {
	max-width: 360px;
	width: 100%;
	height: auto;
	margin: 0 4% 0 0;

}
.circle {
	width: 25px;
	height: 25px;
	border: 1px solid #4497bc;
	background-color: #38afe5;
	color: white;
	font-size: 13px;
	text-align: center;
	line-height: 25px;
	border-radius: 25px;
	float: left;
}

.right_desc-about {
	float: right;
	margin-bottom: 25px;
}

.clearfix:before, .clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	margin-bottom: 0;
}

h3 {
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 10px;
	color: #50586d;
}
.inner_text {
	font-size: 13px;
	font-family: arial, sans-serif;
	color: #6f6f6f;
	margin-bottom: 3%;
}
.just {
	text-align: justify;
}
.inner_sec {
	
}
.list {
	padding: 0px 4.2% 30px 4.2%;
	display: inline-block;
}
.list .left_ul {
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	font-size: 14px;
	list-style-image: url(../img/arrow.png);
	color: #50586d;
}
.right_ul {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	font-size: 14px;
	list-style-image: url(../img/arrow.png);
	color: #50586d;
}
.fourth {
	padding: 75px 1% 0px 1%;
	display: inline-block;
}
.fourth h2 {
	display: block;
	margin-bottom: 20px;
}
.main-com {
	position: relative;
	height: 115px;
	background: #fcfafa;
	border: 1px solid #dfdcdc;
	padding: 22px;
	box-sizing: border-box;
	font-size: 14px;
	color: #344260;
	margin-bottom: 60px;
}
.main-com:after {
	position: absolute;
	width: 34px;
	height: 34px;
	border-right: 1px solid #dfdcdc;
	border-bottom: 1px solid #dfdcdc;
    top: 85.3%;
	left: 43%;
	content: "";
	transform: scaleX(0.61) rotate(45deg);
	background: #fcfafa;
}
.name {
	font-size: 16px;
	color: #344260;
	text-align: center;
	margin-bottom: 15px;
}
.position {
	color: #4e5050;
	font-size: 13px;
	text-align: center;
}
.right_desc-about h3 {
     margin-top: 0; 
    }
@media (min-width: 480px)   {
	.in-logo-smp {
		width: 92.78%;
		height: 60.32%;
	}
}
@media (min-width: 768px) {
	.in-logo-smp {
		width: 87.02%;
		height: 78.3%;
		font-size: 43.6px;
		line-height: 14.2vw;
		margin: 20px auto 0;
	}
	.footer {
		padding: 23px 0px 23px 12%;
	}
	.main-menu {
		font-size: 24px;
	}
	.main-menu {
		height: 230px;
	}
	.submenu {
		left: 33%;
		top: 23%;
	}
	.gal {
		height: 23.18vw;
		margin: 2.8% auto;
	}
	.footer-cont {
		margin-left: 0;
		flex-direction: column;
	}
	.tel-con {
		display: inline-block;
	}
	.footer-connect:last-child {
		text-align: left; 
	}
	.footer-connect {
		padding: 0;
	}
	.cards {
		width: 50%;
		height: 17.31vw;
		padding: 0;
		margin: 0;
	}
	#main-left h3 {
		font-size: 14.29px;
	}
	.desc-tour {
		padding-right: 0;
	}
	.desc-tour p {
		font-size: 11.9px;
	}
	.desc-tour p:nth-child(2n+1) {
		font-size: 15.48px;
	}
	figure {
    bottom: 5vw;
	}
	.img-plane {

    height: 280px;
    width: 350px;
	}
	.profile h3 {
		margin-top: 0;
	}
	.profile {
    padding: 0;
	}
	.main-com {
	height: auto;
	}
	.main-com:after {
    top: 93.3%;
    left: 40%;
	}
}

@media (min-width: 1024px) {
	.in-logo-smp {
		height: 83.3%;
		font-size: 59.58px;
	}
	.gal {
		height: 15vw;
	}
	.header {
		width: 100%;
	}
	.menu {
		align-items: center;
	}
	.menu a {
		font-size: 28px;
	}
	.submenu a {
		color: #8990a0;
		font-size: 20px;
	}
	.submenu {
		left: 14%;
		width: 65px;
	}
	h2 {
		font-size: 28px;
	}
	.footer-link, .footer-link a {
		font-size: 16px;
	}
	.footer-connect a {
		font-size: 12px;
	}
	.social-links {
		justify-content: space-around;
	}
	.social-links img {
		width: 40px;
	}
	.copyright-text {
		font-size: 12px;

	}
	#select-tours {
		padding: 60px;
	}
	#main-right h2 {
		margin: 0 0 40px 0;
	}
	.search-second {
		padding: 0;
	}
	.cards {
    width: 50%;
    height: 11.31vw;
	}
	figure {
    bottom: 8vw;
	}
}
